 	html,
	body{
   		margin:0;
   		padding:0;
   		height:100%;
	}
	#l1{
                font-size:20px;
        }
        #a1{
                padding-top:12px;
        }

	#wraper {
   		min-height:100%;
   		position:relative;
	}
	body{
		background-color:wheat;
	}
	.overflow {
		  display:block;
 		  width: 20em;
		  white-space: nowrap;
		  overflow: hidden;
		  text-overflow: ellipsis;
	}
	.navbar{
                font.family: 'Open Sans', sans-serif;
                background-color: #2c3e50;
                font-size: 15px !important;
                opacity: 0.9;
		height:50px;
	}
        .navbar li a{ 
		color: #d5d5d5 !important;
        }
	.navbar .navbar-brand {
		color: white !important;
		padding-top: 12px;	
	}
	.navbar .navbar-brand img{
		float:left;
		height:25px;
	}
	.navbar .navbar-brand span{
		position:relative;
		top:2px;
		left:3px;
	}
	#fb{
		width:100%;
		height:35px;
		font-size:18px;
	}	
	#pad{
		padding:10px;
		border-color:black;
		border-width:1px;
		height:400px;
		width:750px;
		text-align:center;
	}
        .navbar-nav li a:hover {
                color: #fff !important;
        }
        .navbar-nav li.active a {
                color: #fff !important;
                background-color: #29292c !important;
        }
        .navbar-d.fault .navbar-toggle {
                border-color: transparent;
        }
	.brand-name {
		font.family: 'Open Sans', sans-serif;
		font-size: 20px;
 		font-weight: bold;
 		color: #444;
	}
	.c0{
		position:absolute;
		top:48%;
		left:50%;
		transform: translateX(-50%) translateY(-50%);
	}
	.progress{
		margin-bottom:0;
	}
	.progress-bar{ 
		background-color: green; 
		animation: progress 1.5s ease-in-out forwards;
	}
        #c1{
                display:flex;
                flex-wrap:wrap;
                flex-direction:row;
                justify-content:center;
                align-items:center;
                align-content:center;
        }
        #c5,#c2{
                display:flex;
                flex-wrap:nowrap;
                flex-direction:column;
                justify-content:center;
                align-items:center;
                align-content:center;
        }
	#c2{
		margin-top:70px;
        }
        #c3,#c4,#c6,.c0{
                display:flex;
                flex-wrap:nowrap;
                flex-direction:column;
                justify-content:center;
                align-items:center;
                align-content:center;
        }
	#t1{
            display:none;
        }
        @keyframes progress {
             from {
                 width:0%;
             }
        }
	.c0 h5{
		color:#333;
		text-align:center;
		font-size:22px;
	}
        .panel{
		border-color:#898686;
		border-width:1px;
		box-shadow: 1px 1px 5px #999;
                background-color: white;
		position:relative;
                width:310px;
                height:370px;
         }
	#ii1{
		padding:20px;
	}
        img.img-rounded {
		width:auto;
		height:auto;
		max-width:300px;
		max-height:300px;
		border-radius: 3px;
        }
	#pbar{
		position:absolute;
		bottom:4px;
		left:50%;
		transform: translateX(-50%);
		width:300px;
	}
	.glyphicon-resize-horizontal{
		font-size:60px;
		color:#2c3e50;
	}
	  .overflow{
		display: inline-block;
	   }
	footer {
      		color:  #d8b78c ;
		background-color:#354555;
      		padding:7px ;
		height: 40px;
		position:fixed;
		width:100%;
		bottom:0px;
  	}
  	footer a {
                color: #d8b78c ;
  	}
  	footer a:hover {
      		color: #777;
      		text-decoration: none;
  	}
	footer p{
		position:relative;
		top:7px;
	}
