<!doctype html>
<html>
    <head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<link rel="stylesheet" href="static/css/app.css">
    </head>
    <body >
	<div id="wraper">
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container-fluid">
	    <div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>                        
      		</button>
		<a class="navbar-brand brand-name" href="/">
			<img src='static/backgorundImg/logo.png' alt='logo'>
			<span>Judwaa 2</span>
		</a>
	   </div>
	   <div class="collapse navbar-collapse" id="myNavbar" >
	      <ul class="nav navbar-nav navbar-right">
	        <li id="l2"><a href="/about">About</a></li>
	     </ul>
	  </div>
	</div>
       </nav>

    <div class="flex-item">
    <div class="container">
        <div class="row">
	<h1 style="margin-top:60px">About</h1>
        <h2> What is it? </h2>
        <p> It’s a simple face recognition application with a twist. It finds face in an image uploaded by you and finds a best match from list of celebrities that the application knows about. </p>
        <p> The percentage indicates how much the face matches with the famous person. Higher the percentage more similar the faces. </p>
        <p> Currently, there are about 150 male and 50 female famous Indian personalities.</p>
        </div>
        <div class="row">
        <h2> How is it done? </h2>
        <p>  There is machine learning at the backend - face recognition to be specific. It uses Face Recognition python library to get face embeddings from uploaded image, which is basically a vector of 128 numbers.</p>
        <p> Then simply calculates euclidean distance between known face embeddings and the uploaded face embeddings. Shortest distance taken as the best match.</p>
        </div>

        <div class="row">
        <h2> Credits </h2>
        <p>
        <a href="https://github.com/ageitgey/face_recognition"> Face Recognition API in Python </a>
        </p>
        <p>
        <a href="http://dlib.net/"> Dlib Library </a>
        </p>		
        </div>
	<div class="row">
		<h2> Crew</h3>                                                                            
               <div class="row">
			<div class="col-sm-4 col-md-4 col-lg-4 col-md-offset-4">
				<div class="row crew-image-container">
					<div class="crew-image-item">
					   <img class="crew-image" src="/static/about/0.png" >	
					</div>
				</div>
				<div class="row text-center">
					<h5>Director - Rohan Nandode </h5>
				</div>
			</div>                                                       
		</div>  
		<br>         
		<div class="row">
			<div class="col-sm-4 col-md-4 col-lg-4 col-md-offset-1">
				<div class="row crew-image-container">
					<div class="crew-image-item">
						<img class="crew-image" src="/static/about/1.png">
					</div>
				</div>
				<div class="row text-center">
					<h5>Screenplay - Sudhir Kumar  </h5>                                                     
				</div>
			</div>
			<div class="col-sm-4 col-md-4 col-lg-4 col-md-offset-2">
				<div class="row crew-image-container">
					<div class="crew-image-item">
						<img class="crew-image" src="/static/about/2.png" >
					</div>
				</div>
				<div class="row text-center">
					<h5>Script writer - Dnyaneshwar Mahajan </h5>                                            
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-4 col-md-4 col-lg-4 col-md-offset-1">
				<div class="row crew-image-container">
					<div class="crew-image-item">
						<img class="crew-image" src="/static/about/3.png" >
					</div>
				</div>
				<div class="row text-center">
					<h5>Editor - Aashiesh Advall </h5>
				</div>
			</div>
			<div class="col-sm-4 col-md-4 col-lg-4 col-md-offset-2">
				<div class="row crew-image-container">
					<div class="crew-image-item">
						<img class="crew-image" src="/static/about/4.png" >
					</div>
				</div>					
				<div class="row text-center">
					<h5>Costume Designer - Vishal Jethani</h5>
				</div>
			</div> 
		</div>
	</div>
        <div class="row">
        <h2> Contact Us </h2>
        <p>
        <a href="mailto:info@coriolis.co.in"> info@coriolis.co.in </a>
        </p>
        <p>
        <a href="http://coriolis.co.in/contact"> Coriolis Technologies </a>
        </p>
        </div>


    </div>
    </div>


       <footer class="text-center">
	  <p> 
		Copyright <i class="fa fa-copyright"></i> 2017 Coriolis Technologies. All Rights Reserved.
		 <a href="http://www.coriolis.co.in/" data-toggle="tooltip" title="Visit Coriolis Technologies">www.coriolis.co.in</a>
	  </p> 
	</footer>
      </div>
     </body>
</html>
